<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.PromotionPoolMapper" >
  <resultMap id="BaseResultMap" type="com.demo.domain.PromotionPool" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_status" property="supplierStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <!--重点不在于是否使用了useGeneratedKeys，而在于数据库是否设置了自增主键-->
  <!--<insert id="insert" parameterType="com.demo.domain.PromotionPool" useGeneratedKeys="true" keyProperty="id">-->
    <!--insert into promotion_pool (id,promotion_type, supplier_id, supplier_status,-->
      <!--create_time, create_by, update_time,-->
      <!--update_by)-->
    <!--values (#{id,jdbcType=BIGINT}, #{promotionType,jdbcType=INTEGER},#{supplierId,jdbcType=INTEGER}, #{supplierStatus,jdbcType=TINYINT},-->
      <!--now(), #{createBy,jdbcType=VARCHAR}, now(),-->
      <!--#{updateBy,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <insert id="insert" parameterType="com.demo.domain.PromotionPool">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into promotion_pool (promotion_type, supplier_id, supplier_status,
    create_time, create_by, update_time,
    update_by)
    values (#{promotionType,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, #{supplierStatus,jdbcType=TINYINT},
    now(), #{createBy,jdbcType=VARCHAR},now(),
    #{updateBy,jdbcType=VARCHAR})
  </insert>
</mapper>